.navli{
    display: inline;
    color: black;
}
a:link{
    color: black;
    text-decoration: none;
}
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */
.navbar{
    background-image: url('images/background.jpg');
    background-repeat: repeat-x;
}
.nav-item{
    padding-left: 15%;
}
.navbar-nav{
    padding-left: 90%;
    padding-right: 10%;
}

